numpy==1.26.4
pandas==2.0.3
matplotlib==3.7.2
tkcalendar==1.6.1
openpyxl==3.1.2
pillow==10.2.0
pyinstaller==5.13.2
kiwisolver==1.4.5
babel==2.12.1
gspread==6.1.2
google-auth==2.34.0
google-auth-oauthlib==1.2.1
